@font-face {
	font-family: KoPub;
	src: url("../../../fonts/KoPub-Dotum-Light.ttf");
}
@font-face {
	font-family: KoPub_medium;
	src: url("../../../fonts/KoPub-Dotum-Medium.ttf");
}
@font-face {
	font-family: gotham;
	src: url("../../../fonts/Gotham-Bold.otf");
}
@font-face {
	font-family: gotham;
	src: url("../../../fonts/OratorStd.otf");
}
body{
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: KoPub, sans-serif;
}
h1{
	margin-top: 0;
}
.topmenu_top{
	width: 100%;
	padding: 0px;
	text-align: right;
	position: fixed;
	z-index: 999;
}
.topmenu{
	float: right;
}
.t_menu_ul{
	margin: 0;
	padding: 0;
	float: right;
	overflow: hidden;
	width: 400px;
	white-space: nowrap;
	list-style: none;
}
.t_menu_ul li a{
	display: block;
	font-size: 12;
	float: left;
	text-decoration: none;
	padding: 20px 16px;
	padding-bottom: 15px;
	color:white;
	border-bottom: 1px solid #fff;
}
.t_menu_ul li{
	float: right;
}
.t_menu_ul li a:focus{
	color:white;
	padding-bottom: 12px;
	border-bottom: 3px solid #fff;
}
.t_menu_ul li a:hover{
	color:white;
	padding-bottom: 12px;
	border-bottom: 3px solid #fff;
}
/* 메인이미지 */
.mainImgEx1{
	width: 100%;
	height: 800px;
	font-weight:bold;
	position: absolute;
}
.mainImgEx1 img{
	width: 100%;
	height: 100%;
	animation: star 3s infinite;
}
@keyframes star{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
.mainImgEx2{
	width: 100%;
	height: 800px;
	font-weight:bold;
	position: absolute;
}
.mainImgEx2 img{
	width: 100%;
	height: 100%;
	animation: star2 5s infinite;
}
.mainImgEx3{
	width: 100%;
	height: 800px;
	font-weight:bold;
	position: absolute;
}
.mainImgEx3 img{
	width: 100%;
	height: 100%;
	animation: star 5s infinite;
}
@keyframes star2{
	0%{
		opacity:0.5;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0.5;
	}
}

.mainImg{
	height: 800px;
	width: 100%;
	margin: 0 auto;
	background: url( "images/main_bg.jpg" );
	background-size: cover;
}
.mainImg_con2{
	text-align: center;
	width: 100%;
	height: 10%;
	position: relative;
	top: 18%;
}
.mainImg_con2 .en{
	font-family: KoPub_medium;
	font-size: 28;
	letter-spacing:5;
	line-height:1.5;
}
.mainImg_con2 .ko{
	font-size: 13;
	color: #a2e0e0;
}
.mainImg_con2 .con1 img{
	width: 30;
}
.mainImg_con2 .con2 img{
	width: 30;
	margin-top: 30;
}
.border-top{
	margin-bottom: 0;
	margin-top: 30px;
	height: 8px;
    background-image: linear-gradient(to right, #802879, transparent 70%);
    border: 0;
    height: 1px;
}
.border-bottom{
	margin-top: 0;
	height: 8px;
    background-image: linear-gradient(to left, #a2e0e0, transparent 70%);
    border: 0;
    height: 1px;
}
.whatwedo{
	position: relative;
	font-size: 45;
	top:150%;
	left:20%;
	opacity: 0.3;
	text-shadow: -5px 0px 2px #771380;
}
.whatwedo .whatwedoA{
	color: #9c829e;
	font-weight: 700;
}
.mainImg_con3{
	text-align: center;
	width: 100%;
	background-color: rgba( 0,0,0,0.5 );
	overflow: auto;
	padding: 50px 0;
}
.mainImg_con3 .text1{
	float: left;
	color: white;
	position: relative;
	top: 15px;
	width: 50%;
	text-align: right;
	/* left:50%;
	transform: translateX(-110%); */
}
.mainImg_con3 .text1 a{
	color: #cc99ff;
	margin-top: 20;
	font-size: 15px;
}
.mainImg_con3 .text2{
	float: left;
	color: white;
	text-align: left;
	position: relative;
	/* left:50%;
	transform: translateX(-80%); */
	width: 50%;
	font-size: 12;
}
.mainImg_con3 .text2 li{
	color: #cc99ff;
	margin: 5px 0;
}
.mainImg_con3 .text2 li a{
	color: #ccccff;
	font-size: 6px;
}
.mainImg_con2 img{
	width: 200px;
	padding-bottom: 8;
}
.mainImg_con2 a{
	color: white;
}

/* 소개 about */
.about{
	width: 100%;
	height: 1500px;
	text-align: center;
	background: url("images/about_bg.jpg");
	background-size: cover;
}
.about_title{
	font-size: 25;
	position: relative;
	top: -5%;
	font-weight: 700;
}
.about_title img{
	margin-bottom: 30;
}
.about_title .about_titleA{
	color: #7a8efd;
}

.about_title .about_titleA img{
	width: 30;
}

.about2{
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.about2 .about2A{
	color: white;
	font-size: 12;
	line-height:1.8;
}
.about3{
	position: relative;
}
.about_inter{
	opacity: 0.5;
	position: relative;
	left: 15%;
	top: 10%;
	text-align: left;
	font-size: 60;
	font-weight: 700;
}
.about_inter .icolor{
	color: #a543ff;
}
.about_inter a{
	color: #6292ff;
}

/* history */

.history_title{
	font-size: 25;
	font-weight: 700;
	margin-bottom: 70;
}

.history_titleA img{
	margin-bottom: 30;
}
.history_titleA{
	color: #7a8efd;
}

.history_titleA img{
	width: 30;
}
.about_history{
	opacity: 0.5;
	position: relative;
	font-size: 80;
	font-weight: 700;
	left: 20%;
	top: 12%;
}
.about_history .hcolor{
	color: purple;
}
.about_history .icolor{
	color: blue;
}
.about_history a{
	color: #6292ff;
}
.about3 .history{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	font-size: 12;
}
.about3 .history table{
	margin: 0 auto;
}
.about3 .history .historyLeft .historyImg{
	position: relative;
	left: 15;
	font-size: 20;
	color: skyblue;
}
.about3 .history .historyRight .historyImg{
	position: relative;
	right: 15;
	font-size: 20;
	color: skyblue;
}
.about3 .history .historyText{
	font-size: 12;
	color: white;
	line-height:1.5;
}
.about3 .history .historyLeft{
	text-align: right;
	padding-right: 15;
}
.about3 .history .historyRight{
	text-align: left;
	padding-left: 15;
}
.about3 .history .historyImg img{
	width: 7;
}


/* portfolio */

.portfolio{
	background: url("images/portfolio_bg.jpg");
	background-size: cover;
	text-align: center;
	overflow:hidden;
}
.portfolio_title{
	font-size: 30;
	position: relative;
	top: -15%;
	font-weight: 700;
}
.portfolio_title .portfolio_titleA{
	color: #51b0ca;
}
.portfolio_title .portfolio_titleA img{
	width: 30;
}

.aaa {
  background: white;
  display: inline-block;
  height: 75px;
  position: relative;
  width: 100%;
  padding-top: 10;
  line-height: 200%;
}
.aaa:before {
  border-top: 35px solid white;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 85px;
  width: 0;
}
.portfolioImg_div .bxslider .por_day{
	font-size: 20;
	color: #48f1e9;
}
.portfolioImg_div .bxslider .por_title2{
	font-size: 18;
}
.portfolioImg{
	margin:0 auto;
	width:930;
	height : 400;
	padding: 20% 0;
	position: relative;
	overflow: hidden;
} 
.bxslider li:hover{
	-webkit-filter: grayscale(50%); 
    -moz-filter: grayscale(50%); 
    -o-filter: grayscale(50%); 
    -ms-filter: grayscale(50%);
    filter: gray;
}
.portfolioImg_div{
	width: 100%;
}
.portfolioImg .portfolioImg_div .bxslider li{
	height: 100%;
	margin: 10px;
}
.portfolioImg_div .bxslider{
	white-space: nowrap;
	list-style: none;
}
/* 다운로드 게시판 */
.downloads{
	background: url("images/download.jpg");
	background-size: cover;
	text-align: center;
	overflow:hidden;
}
.downloads_title{
	font-size: 30;
	position: relative;
	top: -15%;
	font-weight: 700;
	padding: 13% 0;
}
.downloads_title .downloads_titleA{
	color: #51b0ca;
}
.downloads_title .downloads_titleA img{
	width: 30;
}

.downloadsTable{
	width: 70%;
	background: white;
	margin: 0 auto;
}
.downloadsTable table{
	border-collapse: collapse;
	width: 80%;
	margin:0 auto;
	min-width: 550px;
	margin-top: 8%;
}
.downloadsTable table td{
	text-align: center;
	border-bottom: 1px solid black;
	font-size: 12;
}
.downloadsTable table th{
	border-bottom: 2px solid black;
}
.downloadsTable table img{
	width: 30px;
	height: 30px;
}
.downloads .downCnt{
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.downloads .downCnt ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translateX(-10%);
}
.downloads .downCnt li{
	marginw: 0;
	padding: 5;
	border: 0;
	float: left;
	margin-top: 5%;
}
.downloads_border-top{
	margin-bottom: 0;
	height: 8px;
    background-image: linear-gradient(to right, #802879, transparent 70%);
    border: 0;
    height: 1px;
}
.downloads_border-bottom{
	height: 8px;
    background-image: linear-gradient(to left, #802879, transparent 70%);
    border: 0;
    height: 1px;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* customer */
.customer{
	width: 100%;
	background: url("images/contact_bg.jpg");
	background-size: cover;
	text-align: center;
	overflow:hidden;
	padding-bottom: 300;
}
.customerCon{
	width: 70%;
	position: relative;
	top: 120;
	margin: 0 auto;
	overflow: hidden;
}
.customer_title{
	font-size: 30;
	top: 100;
	position: relative;
	font-weight: 700;
}
.customer_title .customer_titleA{
	color: #51b0ca;
}
.customer_title .customer_titleA img{
	width: 30;
}
.customer_con{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	position: relative;
	top: 180;
	overflow: overlay;
}
.customerLeft{
	width: 50%;
	float: left;
	padding-right: 10;
}
.customerLeft .customerLeftText{
	color: white;
	font-size: 12;
	padding-bottom: 10;
}
.customerLeft .customerLeftText .text1{
	color: skyblue;
	margin-right: 3;
}
.customerLeft .coustomerLeftImg img{
	width: 100%;
	height: 300;
}
.customerRight{
	width: 45%;
	float: left;
}
.customerRight .customerRightText{
	font-size: 12;
	color: #51b0ca;
	padding-bottom: 10;
}

.customerRight label{
	position: relative;
	font-size: 15px;
	color: white;
	top: 3;
	left: 10;
}
.customerRight input, textarea{
	width: 100%;
	border: 1px solid white;
	background-color: rgba( 0,0,0,0.1 );
	padding-left: 75;
	font-size: 18;
	position: relative;
	top: -20;
}
.customerRight textarea{
	height: 20%;
}
.customerCon .send_bt{
	text-align: right;
}

/* 푸터 */
.footer{
	padding: 10px 0;
	text-align: left;
	background: black;
	color: white;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

