@font-face {
	font-family: KoPub;
	src: url("../../../fonts/KoPub-Dotum-Light.ttf");
}
@font-face {
	font-family: 'KoPub_medium';
	src: url("../../../fonts/KoPub-Dotum-Medium.ttf");
}
@font-face {
	font-family: gotham;
	src: url("../../../fonts/Gotham-Bold.otf");
}
@font-face {
	font-family: HPSimplified_Rg;
	src: url("../../../fonts/HPSimplified_Lt.ttf");
}
body{
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:'Malgun Gothic';
}
h1{
	margin-top: 0;
}
.scroll{
	position: relative;
	width: 64;
	margin: 0 auto;
	margin-top: 7%;
}
.scroll img{
	width: 100%;
	border: 0;
}
.about .scroll{
	top: 5%;
}
.portfolio .scroll{
	margin-bottom: 15;
}
.downloads .scroll{
	margin-bottom: 15;
}
.home_icon{
	position: fixed;
	top: 90%;
	left: 90%;
	z-index: 9999;
}
.home_icon img:hover{
	cursor: pointer;
}
.topmenu_top{
	width: 100%;
	padding: 0px;
	text-align: right;
	position: fixed;
	z-index: 999;
	font-family: 'HPSimplified_Rg';
	letter-spacing: 2;
}
.topmenu{
	float: right;
}
.t_menu_ul{
	margin: 0;
	padding: 0;
	float: right;
	overflow: hidden;
	white-space: nowrap;
	list-style: none;
	padding-right: 12%;
	width: 100%;
}
.t_menu_ul li a{
	display: block;
	font-size: 11;
	float: left;
	text-decoration: none;
	padding: 20px 11px;
	padding-bottom: 7px;
	color:white;
	border-bottom: 1px solid #fff;
}
.t_menu_ul li{
	float: right;
}
.t_menu_ul li .about_menu:focus{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #cc66ff;
}
.t_menu_ul li .about_menu:hover{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #cc66ff;
}
.t_menu_ul li .portfolio_menu:focus{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #00ffcc;
}
.t_menu_ul li .portfolio_menu:hover{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #00ffcc;
}
.t_menu_ul li .downloadst_menu:focus{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #6600ff;
}
.t_menu_ul li .downloadst_menu:hover{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #6600ff;
}
.t_menu_ul li .customer_menu:focus{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #0033cc;
}
.t_menu_ul li .customer_menu:hover{
	color:white;
	padding-bottom: 6px;
	border-bottom: 3px solid #0033cc;
}
/* 메인이미지 */
.mainImgEx1{
	width: 100%;
	height: 53%;
	font-weight:bold;
	position: absolute;
}
.mainImgEx1 img{
	width: 100%;
	height: 100%;
	animation: star 3s infinite;
}
@keyframes star{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
.mainImgEx2{
	width: 100%;
	height: 53%;
	font-weight:bold;
	position: absolute;
}
.mainImgEx2 img{
	width: 100%;
	height: 100%;
	animation: star2 5s infinite;
}
.mainImgEx3{
	width: 100%;
	height: 53%;
	font-weight:bold;
	position: absolute;
}
.mainImgEx3 img{
	width: 100%;
	height: 100%;
	animation: star 5s infinite;
}
@keyframes star2{
	0%{
		opacity:0.5;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0.5;
	}
}

.mainImg{
	overflow: hidden;
	padding-top: 10%;
	padding-bottom: 5%;
	width: 100%;
	margin: 0 auto;
	background: url( "images/main_bg.jpg" );
	background-size: cover;
}
.mainImg_con2{
	overflow: hidden;
	text-align: center;
	width: 100%;
	position: relative;
	top: 18%;
}
.mainImg_con2 .en{
	font-family: "HPSimplified_Rg";
	font-size: 30px;
	line-height:1.1;
	font-weight: 600;
    
    letter-spacing: 9;
}
.mainImg_con2 .en2{
	font-family: "HPSimplified_Rg";
	font-size: 30px;
	margin-left: 14;
	font-weight: 600;
    
    letter-spacing: 9;
}
.mainImg_con2 .en3{
	font-family: "HPSimplified_Rg";
	font-size: 30px;
	margin-left: 14;
	/* display:inline-block; 
    -webkit-transform:scale(1,1.1); Safari and Chrome 
    -moz-transform:scale(1,1.1); Firefox 
    -ms-transform:scale(1,1.1); IE 9 
    -o-transform:scale(1,1.1); Opera 
    transform:scale(1,1.1); W3C */
    font-weight: 600;
    
    letter-spacing: 9;
}
.mainImg_con2 .ko{
	font-size: 15;
	color: #ccffff;
	line-height: 2.5;
}
.mainImg_con2 .con1 img{
	width: 30;
	margin-bottom: 15;
}
.mainImg_con2 .con2 img{
	width: 30;
	margin-top: 30;
}
.border-top{
	margin-bottom: 0;
	margin-top: 30px;
	height: 8px;
    background-image: linear-gradient(to right, #802879, transparent 70%);
    border: 0;
    height: 1px;
}
.border-bottom{
	margin-top: 0;
	height: 8px;
    background-image: linear-gradient(to left, #a2e0e0, transparent 70%);
    border: 0;
    height: 1px;
}
.whatwedo{
	position: absolute;
	top: 53%;
	left: 60%;
	font-size: 50;
	opacity: 0.2;
	text-shadow: -5px 0px 2px #771380;
}
.whatwedo .whatwedoA{
	color: #9c829e;
	font-weight: 700;
	font-family: "gotham";
	letter-spacing: -3;
}
.mainImg_con3{
	text-align: center;
	width: 100%;
	background-color: rgba( 0,0,0,0.5 );
	overflow: auto;
	padding: 50px 0;
	overflow-x:hidden;
}
.mainImg_con3 .text1{
	color: white;
	position: relative;
	top: 15px;
	width: 50%;
	text-align: right;
	/* float: left; */
	margin:0;
}
.mainImg_con3 .text1 a{
	color: #cc99ff;
	margin-top: 20;
	font-size: 15px;
}
.mainImg_con3 .text2{
	color: white;
	position: relative;
	width: 50%;
	font-size: 12;
	text-align: left;
	/* float: left; */
	margin: 0;
}
.mainImg_con3 .text2 li{
	color: #cc99ff;
	margin: 5px 0;
}
.mainImg_con3 .text2 li a{
	color: #ccccff;
	font-size: 12px;
	white-space : pre;
}
.mainImg_con2 img{
	width: 223px;
	height: auto;
	padding-bottom: 8;
}
.mainImg_con2 a{
	color: white;
}

/* 소개 about */
.about{
	width: 100%;
	text-align: center;
	background: url("images/about_bg.jpg");
	background-size: cover;
	overflow: hidden;
	padding-bottom: 7%;
}
.about_title{
	font-size: 27;
	position: relative;
	top: -100px;
	font-weight: 600;
	font-family: "HPSimplified_Rg";
	letter-spacing: 7;
	margin-bottom: 66;
	
	display:inline-block; 
    -webkit-transform:scale(1,1.1); 
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1);
    transform:scale(1,1.1);
}
.about_title img{
	margin-bottom: 25;
}
.about_title .about_titleA{
	color: #6699ff;
}
.about_title .about_titleA2{
	color: #6699ff;
	margin-left: 11;
}

.about_title .about_titleA img{
	width: 30;
}

.about2{
	top: -100px;
	margin: 0 auto;
	position: relative;
	word-break: keep-all;
}
.about2 .about2A{
	color: white;
	font-size: 15;
	line-height:1.8;
}
.about3{
	position: relative;
}
.about_inter{
	width: 30%;
	position: relative;
	text-align: left;
	font-size: 60;
	font-weight: 700;
}
.about_inter img{
	top: 215px;
	left: 65%;
	position: relative;
	height: auto !important;
}

/* history */

.history_title{
	font-size: 27;
	font-weight: 600;
	margin-bottom: 70;
	font-family: "HPSimplified_Rg";
	
	letter-spacing: 7;
	
	display:inline-block; 
    -webkit-transform:scale(1,1.1); 
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1); 
    transform:scale(1,1.1);
    
    position: relative;
    top: -100px;
}

.history_titleA img{
	margin-bottom: 30;
}
.history_titleA{
	color: #6699ff;
}

.history_titleA img{
	width: 30;
}
.about_history{
	opacity: 0.5;
	position: relative;
	font-size: 80;
	font-weight: 700;
	top: 105px;
	left: 60%;
	width: 340px;
}
.about3 .history{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	font-size: 12;
	position: relative;
	top: -100px;
}
.about3 .history td{
	word-break: keep-all;
}
.about3 .history table{
	margin: 0 auto;
}
.about3 .history .historyLeft .historyImg{
	position: relative;
	left: 15;
	font-size: 21;
	color: #b3b3ff;
	font-family: "HPSimplified_Rg";
	margin-bottom: 1;
	letter-spacing: 2;
	font-weight: 600;
	
	display:inline-block; 
    -webkit-transform:scale(1,1.1); 
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1);
    transform:scale(1,1.1);
}
.about3 .history .historyRight .historyImg{
	position: relative;
	right: 15;
	font-size: 21;
	color: #b3b3ff;
	font-family: "HPSimplified_Rg";
	margin-bottom: 1;
	letter-spacing: 2;
	display:inline-block; 
    -webkit-transform:scale(1,1.1);
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1); 
    transform:scale(1,1.1);
    font-weight: 600;
    
}
.about3 .history .historyText{
	font-size: 13;
	color: #ffffff;
	line-height:1.5;
	padding-right: 5;
}
.about3 .history .historyLeft{
	text-align: right;
	padding-right: 15;
	/* padding-left: 5; */
}
.about3 .history .historyRight{
	text-align: left;
	padding-left: 15;
}
.about3 .history .historyRight .historyText{
	position: relative;
	left: -2;
}
.about3 .history .historyleft .historyText{
	position: relative;
	left: 4;
}
.about3 .history .historyImg img{
	width: 7;
	vertical-align: middle;
}


/* portfolio */

.portfolio{
	background: url("images/portfolio_bg.jpg");
	background-size: auto;
	text-align: center;
	overflow:hidden;
}
.portfolio_title{
	font-size: 30;
	position: relative;
	top: -27%;
	font-weight: 600;
	font-family: "HPSimplified_Rg";
	
	display:inline-block; 
    -webkit-transform:scale(1,1.1); 
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1); 
    transform:scale(1,1.1);
}
.portfolio_navigator{
	position: relative;
	top: 9;
	height: 27;
	width: 50%;
	margin: 0 auto;
	font-family: HPSimplified_Rg;
}
.portfolio_navigator .portfolio_ul{
	list-style:none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.portfolio_navigator .portfolio_div_ul{
	width: 290;
	margin: 0 auto;
	position: relative;
	top: -25;
}
.portfolio_navigator .portfolio_ul li{
	color: #cccccc;
	float: left;
	padding: 0 5;
	font-size: 17;
	font-weight: 600;
	letter-spacing: 4px;
	
	display:inline-block; 
    -webkit-transform:scale(1,1.1); 
    -moz-transform:scale(1,1.1);
    -ms-transform:scale(1,1.1);
    -o-transform:scale(1,1.1); 
    transform:scale(1,1.1);
}
.portfolio_navigator .portfolio_ul .dddd{
	color: 9999ff;
}
.portfolio_navigator .portfolio_ul .left{
	position: relative;
	left: -8;
}
.portfolio_navigator .portfolio_ul .right{
	position: relative;
	left: 8;
}
.portfolio_navigator img{
	height: 100%;
	width: 100%;
}
.portfolio_title .portfolio_titleA{
	color: #41bbbb;
	letter-spacing: 9;
}
.portfolio_title .portfolio_titleA img{
	width: 30;
	margin-bottom: 30;
}
.portfolioImg{
	margin:0 auto;
	width:100%;
	padding: 15% 0;
	position: relative;
	overflow: hidden;
}
.portfolioImg_div{
	/* width: 1525px; */
	margin: 0 auto;
	position: relative;
	top: 81;
}
.portfolioImg .portfolioImg_div .bxslider li{
	top: 0;
	position: relative;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .portImg{
	width: 100%;
	height: 400;
	position: relative;	
}
.portfolioImg .portfolioImg_div .bxslider li:hover .portImg{
	-webkit-filter:grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:after{
	position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 400;
    background: rgba(0, 0, 37, 0.6);
    z-index: 100;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:hover .portCon3{
	visibility: hidden;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:hover .protCon2_1{
	visibility: hidden;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:hover .portCon2{
	background: none;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:hover .portCen .portUrl{
	color: #99ffff;
}
.portfolioImg .portfolioImg_div .bxslider .background_1:hover .protCon2_2{
	color: black;
}

.portfolioImg .portfolioImg_div .bxslider .background_2:hover .portCon3{
	visibility: hidden;
}
.portfolioImg .portfolioImg_div .bxslider .background_2:hover .protCon2_1{
	visibility: hidden;
}
.portfolioImg .portfolioImg_div .bxslider .background_2:hover .portCon2{
	background: none;
}
.portfolioImg .portfolioImg_div .bxslider .background_2:hover .portCen .portUrl{
	color: #6600ff;
}
.portfolioImg .portfolioImg_div .bxslider .background_2:hover .protCon2_2{
	color: black;
}

.portfolioImg .portfolioImg_div .bxslider li:hover:after{
	background: none;
}
.portfolioImg .portfolioImg_div .bxslider .background_2:after{
	position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 400;
    background: rgba(0, 31, 31, 0.7);
    z-index: 100;
}
.portfolioImg .portfolioImg_div .bxslider .portImg .img1{
	width: 90%;
	position: absolute;
	height: 37%;
	top: 33%;
	left: 10%;
	right: 5%;
}
.portfolioImg .portfolioImg_div .bxslider .portImg img{
	height: 100%;
	width: 100%;
}
.portConText{
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/* visibility: hidden; */
}
.portfolioImg .portfolioImg_div .bxslider .portCen{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .portCon{
	position: relative;
	text-align: center;
	height: 22;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 85px;
	border-top: 26px solid rgba(0,0,0,0.8);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	margin: 0 auto;
	font-size: 12;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .background_1 .portCen .portA{
	position: absolute;
	color: #99ffff;
	top: 5;
	font-size: 12;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .background_1 .portCen .portUrl{
	position: absolute;
	color: rgba(0, 0, 0, 0);
	top: 26;
	left: 0;
	font-size: 10;
	width: 100%;
	text-align: center;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .background_2 .portCen .portUrl{
	position: absolute;
	color: rgba(0, 0, 0, 0);
	top: 26;
	left: 0;
	font-size: 10;
	width: 100%;
	text-align: center;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .background_2 .portCen .portA{
	position: absolute;
	color: #ccccff;
	top: 5;
	font-size: 12;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 105;
}

.portfolioImg_div .bxslider{
	white-space: nowrap;
	list-style: none;
}
.portfolioImg .portfolioImg_div .bxslider .portCon2{
	font-size: 12;
	color: white;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	z-index: 103;
	padding-top: 40;
	padding-bottom: 10;
	height: 70;
	top: 0;
}
.portfolioImg .portfolioImg_div .bxslider .background_2 .portCon2{
	background: #99ffff;
}
.portfolioImg .portfolioImg_div .bxslider .background_1 .portCon2{
	background: #6600ff;
}
.portfolioImg .portfolioImg_div .bxslider .background_2 .portCon2 .protCon2_2{
	color: #333333;
	line-height: 1.2;
}
.portfolioImg .portfolioImg_div .bxslider .portCon2 .protCon2_1{
	color: #33cccc;
	font-family: "gotham";
	font-size: 13;
	z-index: 105;
	font-size: 16px;
	line-height: 1.2;
}
.portfolioImg .portfolioImg_div .bxslider .background_1 .portCon2 .protCon2_1{
	color: #9999ff;
}
.portfolioImg .portfolioImg_div .bxslider .portCon2 .protCon2_2{
	font-size: 18;
	z-index: 105;
	letter-spacing: -0.5;
}
.portfolioImg .portfolioImg_div .bxslider .portCon3{
	font-size: 12;
	color: white;
	position: absolute;
	top: 150;
	left: 5;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	z-index: 105;
	line-height: 1.5;
}
.portfolioImg .portfolioImg_div .bxslider .portCon3 ul{
	margin: 0 auto;
	width: 85%;
	white-space: normal;
	z-index: 105;
}
.portfolioImg .portfolioImg_div .bxslider .portCon3 li{
	margin:3 0;
	z-index: 105;
}

.bx-wrapper{
	max-width: 1170px;
}

/* 다운로드 게시판 */
.downloads{
	background: url("images/download.jpg");
	background-size: cover;
	text-align: center;
	overflow:hidden;
}
.downloads_title{
	font-size: 30;
	position: relative;
	top: -15%;
	font-weight: 700;
	padding-top: 13%;
	font-family: "HPSimplified_Rg";
}
.downloads_title .downloads_titleA{
	color: #511480;
	letter-spacing: 7;
}
.downloads_title .downloads_titleA img{
	width: 30;
	margin-bottom: 30;
}

.downloadsTable{
	width: 100%;
	margin: 0 auto;
	color: white;
	margin-bottom: 50;
}
.downloadsTable table{
	border-collapse: collapse;
	width: 100%;
	margin:0 auto;
	margin-top: 8%;
	color: white;
}
.downloadsTable table tr:hover .openMask{
	/* background: rgba(153,0,255,0.5); */
	color: #c7a9f5;
}
.downloadsTable .tabletD:hover td{
	background: rgba(0,0,0,0.5);
	color: #c7a9f5;
}
.downloadsTable .tabletD .title{
	text-align: left;
}
.downloadsTable table tr .openMask{
	text-decoration: none;
	color: white;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.downloadsTable table td{
	white-space: nowrap;
	text-align: center;
	font-size: 13;
	padding: 8 2;
}
.downloadsTable table .tabletH td{
	border-bottom: 1px solid #993399;
	font-family: 'Malgun Gothic';
}
.downloadsTable table img{
	width: 20px;
	height: 20px;
}
.downloads .downCnt{
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	font-family: "Malgun Gothic";
}
.downloads .downCnt ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 190px;
	margin: 0 auto;
	font-size: 13;
}
.downloads .downCnt li{
	margin: 0;
	padding: 5;
	border: 0;
	float: left;
	margin-top: 5%;
	font-family: "HPSimplified_Rg";
	/* padding-top: 9; */
}
.downloads .downCnt li img{
	padding-top: 2;
}
.downloads .downCnt .focus{
	color: #511480;
	font-size: 14;
	font-weight: 700;
	top:-1;
	position: relative;
}
.downloads .downCnt .downCntli1 img{
	width: 10;
	margin:0 auto;
	height: 10;
	margin-top:2;
	padding-right: 10;
	transform: rotate(180deg);
}
.downloads .downCnt .downCntli2 img{
	width: 10;
	height: 10;
	padding-right: 10;
}

/* customer */
.customer{
	width: 100%;
	background: url("images/contact_bg.jpg");
	background-size: cover;
	text-align: center;
	overflow:hidden;
	position: relative;
}
.customerCon{
	width: 70%;
	position: relative;
	top: 120;
	margin: 0 auto;
	overflow: hidden;
}
.customer_title{
	font-size: 30;
	padding-top: 15%;
	position: relative;
	font-weight: 700;
}
.customer_title .customer_titleA{
	color: #0033cc;
	font-family: "HPSimplified_Rg";
	font-weight: 600;
	letter-spacing: 9;
}
.customer_title .customer_titleA img{
	width: 30;
	margin-bottom: 30;
}
.customer_con{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	position: relative;
	overflow: hidden;
	font-family: "Malgun Gothic";
	padding: 10% 0;
}
.customerLeft{
	width: 50%;
	float: left;
	padding-right: 10;
}
.customerLeft .customerLeftText{
	color: white;
	font-size: 12;
	padding-bottom: 13;
	line-height: 1.5;
}
.customerLeft .customerLeftText .text1{
	color: #99ccff;
	margin-right: 3;
}
.customerLeft .coustomerLeftImg img{
	width: 100%;
	height: 300px;
	border: 1px solid #0033cc;
}
.customerRight{
	width: 45%;
	float: right;
}
.customerRight .customerRightText{
	font-size: 12;
	color: #99ccff;
	padding-bottom: 13;
	line-height: 1.5;
}

.customerRight label{
	position: relative;
	font-size: 15px;
	color: white;
	top: 7;
	right: -10;
}
.customerRight input, textarea{
	width: 100%;
	border: 1px solid white;
	background-color: rgba( 0,0,0,0.1 );
	padding-left: 75;
	padding-top:3;
	padding-bottom:3;
	font-size: 15;
	position: relative;
	top: -20;
	color: white;
}
.customerRight input{
	padding-top: 8;
	padding-bottom: 8;
	margin-bottom: -13;
}
.customerRight textarea{
	height: 173;
	resize: none;
}

.send_bt{
	width: 70%;
	overflow: hidden;
	float: right;
}
.customer_con .send_bt .sendBt{
	position: relative;
	float: right;
	color: white;
	background: #0033cc;
	padding: 11 23;
	padding-right: 20;
	font-size: 10;
	font-family: "HPSimplified_Rg";
	color: #99ccff;
	height: 10;
	letter-spacing: 2;
	font-weight: 700;
}

/* 푸터 */
.footer{
	position: relative;
	text-align: left;
	background: black;
	color: white;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 12;
	line-height: 1.5;
	font-family: "Malgun Gothic";
}
.footer .footerCon .footer_gray{
	color: #666666;
}

/* 모달창 */
#mask {  
  position:absolute;  
  z-index:9000;  
  background-color:#000;  
  display:none;  
  left:0;
  top:0;
}
.window{
  display: none;
  position:fixed;
  width: 500;
  height: 400;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  z-index:10000;
  margin:-250px 0 0 -150px;
  background: white;
}
.window .close{
	font-size: 30;
	float: right;
	text-align: right;
	cursor: pointer;
	margin-top: 8;
	margin-right: 10;
	color: #666666;
}
.window .windowCon{
	position: relative;
	top: 18%;
	text-align: left;
}
.window .close_div{
	width: 100%;
}
.window .windowCon .windowCon1, .windowCon2, .windowCon3{
	margin: 0 auto;
	width: 80%;
	white-space: normal;
	font-size: 12;
}
.window .windowCon .windowCon1 .windowConNo{
	font-size: 18;
	color: #cc99ff;
	font-weight: 700;
	font-family: "gotham";
}
.window .windowCon .windowCon1 .windowConDay{
	color: #999999;
	font-size: 10;
	font-family: "gotham";
	letter-spacing: 1;
}
.window .windowCon .windowCon1 .windowConTitle{
	font-size: 20;
	color: #6600ff;
	font-weight: 500;
	font-family: "Malgun Gothic";
}
.window .windowCon .windowCon1{
	border-bottom: 1px solid #b9b9b9;
	margin-bottom: 10;
}
.window .windowCon .windowCon2{
	height: 180;
	border-bottom: 1px solid #b9b9b9;
	margin-bottom: 10;
	line-height: 1.3;
	padding-bottom: 10;
}
.window .windowCon .windowCon3{
	margin-top: 20;
}
.window .windowCon .windowCon3 .windowConBut{
	background: #6600ff;
	color: white;
	float: right;
	font-family: "HPSimplified_Rg;";
	height: 20px;
    line-height: 20px;
    padding: 8 25;
    letter-spacing: 2;
    font-size: 11;
}
