@charset "UTF-8";

@media only screen and (min-width: 320px) {
	
	.portfolioImg{
		width: 312px;
	}
	.portfolioImg .portfolioImg_div .bxslider li{
		margin: 0 5;
	}
	.mainImg_con3 .text1{
		margin-left: 30;
	}
	.mainImg_con3 .text2{
		margin-left: 10;
	}
	.mainImg_con2 img{
		width: 180;
	}
	.mainImg_con2 .con1 img{
		width: 20;
	}
	.mainImg_con2 .con2 img{
		width: 20;
	}
	.mainImg_con2 .con1 img{
		margin-bottom: 0;
	}
	.mainImg_con2 .con2 img{
		margin-top: 5;
	}
	.mainImg_con2 .en ,.mainImg_con2 .en2 ,.mainImg_con2 .en3 {
		font-size: 23;
	}
	.mainImg_con2 .ko{
		font-size: 13;
	}
	.mainImg_con3{
		padding: 5 0;
	}
	.border-top{
		margin-top: -30px;
	}
	.mainImg, .mainImgEx2, .mainImgEx1, .mainImgEx3{
		max-height: 630px;
	}
	.t_menu_ul{
		width: 390px;
	}
	.about2 .about2A{
		font-size: 10;
	}
	.about_inter img{
		min-width: 50%;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

}

@media only screen and (min-width: 630px) {
	
	.portfolioImg{
		width: 624px;
	}
	.mainImg_con3 .text1{
		margin-left: 210;
	}
	.mainImg_con3 .text2{
		margin-left: 200;
	}
	.mainImg_con2 img{
		width: 180;
	}
	.mainImg_con2 .con1 img{
		width: 20;
	}
	.mainImg_con2 .con2 img{
		width: 20;
	}
	.mainImg_con2 .con1 img{
		margin-bottom: 0;
	}
	.mainImg_con2 .con2 img{
		margin-top: 5;
	}
	.mainImg_con2 .en ,.mainImg_con2 .en2 ,.mainImg_con2 .en3 {
		font-size: 23;
	}
	.mainImg_con2 .ko{
		font-size: 13;
	}
	.mainImg_con3{
		padding: 5 0;
	}
	.border-top{
		margin-top: 0px;
	}
	.mainImg, .mainImgEx2, .mainImgEx1, .mainImgEx3{
		max-height: 630px;
	}
	.t_menu_ul{
		width: 351px;
	}
	.about2 .about2A{
		font-size: 13;
	}
	.about_inter img{
		min-width: 50%;
	}

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 630px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 630px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 630px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 630px),
only screen and (                min-resolution: 192dpi) and (min-width: 630px),
only screen and (                min-resolution: 2dppx)  and (min-width: 630px) { 

}

@media only screen and (min-width: 900px) {

	.portfolioImg{
		width: 935;
	}
	.mainImg_con3 .text2 li a{
		font-size: 15px;
	}
	.mainImg_con3 .text1 a{
		font-size: 18px;
	}
	.mainImg_con2 img{
		width: 223px;
	}
	.mainImg_con3 .text2{
	color: white;
	position: relative;
	width: 50%;
	font-size: 12;
	text-align: left;
	float: left;
	margin: 0;
	}
	.mainImg_con3 .text1{
	color: white;
	position: relative;
	top: 15px;
	width: 50%;
	text-align: right;
	float: left;
	margin:0;
	}
	.mainImg_con2 .con1 img{
		width: 30;
	}
	.mainImg_con2 .con2 img{
		width: 30;
	}
	.mainImg_con2 .con1 img{
		margin-bottom: 15;
	}
	.mainImg_con2 .con2 img{
		margin-top: 30;
	}
	.mainImg_con2 .en ,.mainImg_con2 .en2 ,.mainImg_con2 .en3 {
		font-size: 30;
	}
	.mainImg_con2 .ko{
		font-size: 15;
	}
	.mainImg_con3{
		padding: 30 0;
	}
	.border-top{
		margin-top: 30px;
	}
	.mainImg, .mainImgEx2, .mainImgEx1, .mainImgEx3{
		max-height: 850px;
	}
	.about2 .about2A{
	font-size: 15;
	}
	.about_inter img{
		min-width: 80%;
	}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 900px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 900px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 900px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 900px),
only screen and (                min-resolution: 192dpi) and (min-width: 900px),
only screen and (                min-resolution: 2dppx)  and (min-width: 900px) { 

}

@media only screen and (min-width: 1200px) {

	.portfolioImg{
		width: 1250px;
	}
	.mainImg_con3{
		padding: 50 0;
	}
	.mainImg, .mainImgEx2, .mainImgEx1, .mainImgEx3{
		max-height: 880px;
	}
  /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 

}

@media only screen and (min-width: 1500px) {

  /* Large screen, non-retina */
  
	.portfolioImg{
		width: 1555;
	}
	.mainImg, .mainImgEx2, .mainImgEx1, .mainImgEx3{
		height: 900px;
	}
	.t_menu_ul{
		width: 351px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1500px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1500px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1500px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1500px),
only screen and (                min-resolution: 192dpi) and (min-width: 1500px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1500px) { 

}