<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="db.properties" /> -->
	<typeAliases>
		<typeAlias  type="com.homepage.interlink.model.Admin_tb" alias="admin_tb"/>
		<typeAlias  type="com.homepage.interlink.model.Board" alias="board"/>
		<typeAlias  type="com.homepage.interlink.model.BoardFile" alias="boardFile"/>
	</typeAliases>

	<mappers>
		<mapper resource="admin/Admin_tb.xml" />
		<mapper resource="Board.xml" />
		<mapper resource="BoardFile.xml" />
	</mappers>
</configuration>