@charset "UTF-8";
.portfolioBody{
	position: relative;
	padding-top: 52;
	padding-left: 200;
	color: white;
}
.portTable{
	width: 600;
	margin: 0 auto;
	position: relative;
	padding-left: -200;
}
.portTable table{
	font-size: 13;
	width: 100%;
	border-collapse: collapse;
}
.portTable table td{
	text-align: center;
}
.portTable td{
	color: white;
	padding: 8 0;
}
.portTable table .portTd:hover{
	background: rgba(0,0,0,0.5);
}

.portTable table .portTd:hover td{
	color: #9999ff;
}
.portTable table .portTd a{
	text-decoration: none;
	color: white;
}
.portTable table .portTd:hover a{
	color: #9999ff;
}
.portTitle img{
	width: 18;
}
.portTitle{
	padding: 20;
}
.portTitle a{
	font-size: 20;
	color: #9999ff;
	font-weight: 600;
	letter-spacing: 3.5;
	font-family: HPSimplified_Rg;
}
.portSerch{
	width: 600;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 5;
	margin-top:10%;
}
.portSerch input{
	float: right;
	position: relative;
	right: 25;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	width: 110;
}
.portSerch img{
	width: 10;
	float: right;
	position: relative;
	top: 5;
	right: -99;
}
.portTh td{
	border-bottom: 1px solid #625fe0;
}
.portCount{
	width: 600;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.portCount img{
	width: 10;
	height: 10;
}
.portCount .portCount1 img{
	transform: rotate(180deg);
}
.portCount .focus{
	color: #9999ff;
}
.portCount ul{
	list-style: none;
	font-size: 13;
	overflow: hidden;
	left: 50%;
	transform: translateX(-21%);
	position: relative;
	margin-top: 27;
}
.portCount li{
	float: left;
	padding: 0 5;
}
.portCount li img{
	padding: 0 5;
}
.btnList{
	position: relative;
	overflow: hidden;
	top: -38;
}
/* 등록 */
.portBox{
	width: 960;
	height: 500;
	margin: 0 auto;
	background: white;
	position: relative;
	top: 90;
}
.portTitleView{
	width: 960;
	margin: 0 auto;
	font-size: 20;
	position: relative;
	top: 80;
}
.portBox table label{
	position: relative;
	top: 7;
	left: 5;
}
.portBox table {
	width: 100%;
	padding:15;
	border-spacing: 7;
}
.portBox table td{
	height: 35;
	border: 1px solid #666666;
	font-size: 13;
}
.portBox table input{
	width: 69%;
	float: right;
	height: 100%;
	border: none;
	position: relative;
	padding-left: 5;
}
.portBox table .titleText{
	width: 100%;
}
.imgTd a{
	float: left;
	margin-right: 50;
}
.portBox table .imgTd{
	vertical-align: top;
	padding: 5 7;
}
.portBox table .imgTd input{
	float: left;
	width: 70%;
	height: 30;
}
.portBox table select{
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
}
.portBox table .textarea textarea{
	resize: none;
	width: 100%;
	height: 280;
	border: none;
	padding: 5 7;
}
.btnbox{
	width: 960;
	margin: 0 auto;
	position: relative;
	top: 100;
}
.btnbox .btnDiv2{
	margin-right: 7;
}
.btnbox .btnDiv3{
	margin-right: 7;
}

/* 이미지 파일 스타일 */
.portBox table .imgTd .upload_text {/*읽기전용 인풋텍스트*/
	float:left;
	width:265px;/* 버튼 포함 전체 가로 길이*/
	height: 25;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
}

div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	width: 54;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}
div.upload-btn_wrap {/*버튼테두리 감싼 div*/
	overflow:hidden;
	position:relative;
	float:left;
	width:50px;/*width, height 값은 button(찾아보기)값과 같아야함 */
	height:27px;
	padding-left:3px;
}
div.upload-btn_wrap button {/*버튼 div*/
	width:50px;
	height:27px;
	font-weight:bold;
	background:#333;
	border:1px solid #333;
	color:#fff;
	position: relative;
	top:-1;
}