.customer_body{
	text-align: center;
}
.customer_contens{
	height: 80%;
}
.customer_table{
	width: 50%;
	margin: 0 auto;
}
.customer_table caption{
	visibility: hidden;
}
.customer_table table{
	width: 100%;
}
.customer_table table input, textarea{
	width: 100%;
}
.customer_table table th{
	padding: 10px
}