.portfolio_body{
	background-color: #4a9dff;
}
.portfolioContents{
	height: 100%;
	position: relative;
}
.portfolioTop{
	background-color: #4a9dff;
	text-align: center;
	height: 300px;
}
.portfolioContents .portfolioImgDiv{
	width: 900px;
	margin: 0 auto;
	padding-left: 48px;
}
.portfolioContents .portfolioImgDiv .portfolioImgBox{
	float: left;
	margin: 10px;
	width: 250px;
	height: 250px;
	border: 2px solid white;
	padding: 2px;
}
.portfolioContents .portfolioImgDiv .portfolioImgBox a{
	text-decoration:none;
	margin:0;
}
.portfolioContents .portfolioImgDiv .portfolioImgBox img{
	width: 100%;
	height: 100%;
	border: 0;
}

/* 모달창 */
.por_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.por_overlay:target {
    visibility: visible;
    opacity: 1;
}
.por_popup {
	width:60%;
	height: 60%;
    background-color: #444;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;
    overflow:scroll;
    overflow-x:hidden;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}
.por_overlay:target+.por_popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.por_close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15;
    text-align: center;
    text-decoration: none;
    top: 15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.por_close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.por_close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}

.por_popup_menu{
	text-align: center;
}
.por_popup_title{
	white-space: nowrap;
	height: 20%;
}
.por_popup_text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 30%;
}
.por_popup_imgZone{
	height: 40%;
}
